<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="ConnectionProvider" value="Firebird" />
    <!--<add key="ConnectionString" value="data source=10.20.0.1;port=31001;initial catalog=alpha;user id=sysdba;password=zK73fWnQ;character set=WIN1251" />-->
    <add key="ConnectionString" value="data source=localhost;initial catalog=d:\db\bdrk.fdb;user id=sysdba;password=masterkey;character set=WIN1251" />
  </appSettings>
</configuration>